.card {
  @include card;
  display: flex;
  gap: $gap_m;
  align-items: flex-start;
}

.img {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: $gap_xs;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $gap_xs;
}

.title {
  @include text_m;
  cursor: pointer;
}

.genre {
  @include text_s_italic;
}

.btnClose {
  width: 20px;
  height: 20px;
  background: url('/icons/close.svg');
  background-position: center;
  background-size: 17px;
  
}