@mixin link_button($bottom) {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    transition: .2s;
    position: absolute;
    bottom: $bottom;
    right: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: $White;
    opacity: 0;
  }
  
  &:hover {
    &::after {
      opacity: 1;
      transform-origin: right bottom;
      background-color: $Orange;
      transform: rotate(90deg);
    }
  }
}