@mixin container {
  width: calc(100% - $gap_l * 2);
  max-width: 1920px;
  margin: $gap_m $gap_l;
}

@mixin card {
  padding: $gap_m;
  background-color: $White;
  border-radius: $gap_xs;
}

@mixin input {
  padding: 10px 16px;
  border-radius: $gap_xs;
  border: 1px solid $Border_default;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// fonts
@mixin title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

@mixin label_small {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

 @mixin body_s {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
 }

 @mixin text_xs {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
 }

 @mixin text_s {
  color: $Text_primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
 }

@mixin text_s_italic {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
 }

@mixin text_m {
  color: $Text_primary;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
 }

 @mixin text_l {
  font-size: 20px;
  line-height: 24px;
 }

@mixin text_l_bold {
  @include text_l;
  font-weight: 600;
 }

@mixin text_xl {
  font-size: 20px;
  line-height: 32px;
 }

 @mixin text_xl_bold {
  @include text_xl;
  font-weight: 600;
 }
