* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-roboto), sans-serif;
  width: 100%;
  height: 100%;
  background-color: $Background;
  color: $Text_primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  outline:none;
}

.block {
    overflow: hidden
  }

#popupContainer {
  z-index: 200;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
}

#dropdownContainer {
  z-index: 50;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
}