.page {
  display: flex;
  flex-direction: column;
  gap: $gap_s;
  flex-grow: 1;
}

.all {
  @include card;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allText {
  @include text_m;
}

.allAmount {
  text-align: end;
  background: none;
  border: none;
  @include text_m;
}