.card {
  @include card;
  display: flex;
  flex-direction: column;
  gap: $gap_s;
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.q {
  @include label_small
}

.btn {
  width: 32px;
  height: 32px;
  background: url(/icons/arrow.svg);

  &.show {
    transform: rotate(180deg);
  }
}

.a {
  display: none;

  &.show {
    display: block;
  }
}