
.buttons {
  display: flex;
  width: 68px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  &.large {
    width: 79px;
  }
}

.btn {
  cursor: pointer;
  border-radius: $gap_xxs;
  width: 20px;
  height: 20px;
  background-color: $Orange;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;

  &:disabled {
    background-color: $Orange_disabled;
  }
}

.amount {
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  text-align: center;
  @include text_m;
}

.btnMinus {
  background-image: url('/icons/plus-1.svg');
}

.btnPlus {
  background-image: url('/icons/plus.svg');
}